<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="SerienStream (s.to)">
        <setting id="sto_domain" type="text" label="Domain (e.g. https://serienstream.to)" default="https://serienstream.to"/>
        <setting id="sto_email" type="text" label="Email Address" default=""/>
        <setting id="sto_password" type="text" option="hidden" label="Password" default=""/>
    </category>
    <category label="AniWorld (aniworld.to)">
        <setting id="aniworld_domain" type="text" label="Domain (e.g. https://aniworld.to)" default="https://aniworld.to"/>
        <setting id="aniworld_email" type="text" label="Email Address" default=""/>
        <setting id="aniworld_password" type="text" option="hidden" label="Password" default=""/>
    </category>
    <category label="Movie2k">
        <setting id="movie2k_domain" type="text" label="Domain (rotates often)" default="https://movie2k.ch"/>
        <setting id="movie2k_proxy" type="text" label="HTTP(S) proxy (needed if ISP-blocked, e.g. http://user:pass@host:port)" default=""/>
    </category>
    <category label="Filmpalast">
        <setting id="filmpalast_domain" type="text" label="Domain (e.g. https://filmpalast.to)" default="https://filmpalast.to"/>
    </category>
    <category label="ResolveURL Source">
        <setting id="resolveurl_repo" type="text" label="GitHub repo (owner/name) for our ResolveURL fork" default="rgvmdtc/zStream-ResolveURL"/>
        <setting id="resolveurl_branch" type="text" label="Branch" default="main"/>
        <setting id="resolveurl_token" type="text" option="hidden" label="GitHub token (only if the fork repo is private)" default=""/>
    </category>
</settings>
